* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button.text {
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.body1 {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
}

.body2 {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-size: 14px;
  line-height: 143%;
}

.caption {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.normal {
  font-weight: 400;
}

.gray900 {
  color: #343a40;
}

.gray700 {
  color: #868e96;
}

.gray600 {
  color: #adb5bd;
}

.primary500 {
  color: #4b88ff;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}
